[submodule "vendor/premake-ninja"]
	path = vendor/premake-ninja
	url = https://github.com/jimon/premake-ninja.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
